/* ==== BASE ==== */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* == END BASE == */

:root {
  --gray050: hsl(220, 6%, 5%);
  --gray100: hsl(220, 6%, 10%);
  --gray200: hsl(220, 6%, 20%);
  --gray300: hsl(220, 6%, 30%);
  --gray400: hsl(220, 6%, 40%);
  --gray500: hsl(220, 6%, 50%);
  --gray600: hsl(220, 6%, 60%);
  --gray700: hsl(220, 6%, 70%);
  --gray800: hsl(220, 6%, 80%);
  --gray900: hsl(220, 6%, 90%);
  --gray950: hsl(220, 6%, 95%);

  --off-black: var(--gray050);
  --off-white: var(--gray950);

  --blue: hsl(220, 70%, 44%);
  --dark-blue: hsl(220, 74%, 33%);
}

:root {
  --primary: var(--blue);
  --primary-dark: var(--dark-blue);

  /* Light */
  --background-color: white;
  --text-color: var(--gray100);
  --alternate-row-background: var(--off-white);
  --border-color: var(--gray900);
  --shadow: 0 0 2rem var(--gray800), 0 0 0.5rem var(--off-white);
}

body[data-theme="dark"] {
  --background-color: black;
  --text-color: var(--gray900);
  --alternate-row-background: var(--off-black);
  --border-color: var(--gray200);
  --shadow: 0 0 2rem var(--gray300), 0 0 0.5rem var(--gray100);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out,
    color 200ms ease-in-out;
}

a {
  color: var(--primary);
}

h1,
h2 {
  margin-bottom: 1rem;
  margin-top: 0;
}

section.config,
section.results {
  padding: 1rem;
}

section.config {
  box-shadow: var(--shadow);
}

section.config header {
  align-items: center;
  display: grid;
  grid-template-columns: auto max-content;
  margin-bottom: 1rem;
}

section.config h1 {
  margin-bottom: 0;
}

#dark-mode-toggle {
  align-items: center;
  border-radius: 0.25rem;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;
}

form {
  display: grid;
  gap: 1rem;
}

label {
  display: grid;
  gap: 0.5rem;
}

.button,
input {
  border-radius: 0.25rem;
  color: inherit;
  padding: 0.5rem;
}

input {
  background-color: transparent;
  border: 2px solid var(--border-color);
}

.button {
  background-color: var(--primary);
  border: none;
  color: white;
  font-weight: bold;
}

.button:hover {
  background-color: var(--primary-dark);
}

#dark-mode-toggle:focus-within,
form input:focus,
.button:focus {
  box-shadow: 0 0 0 2px var(--text-color);
  outline: 2px solid transparent;
}

nav {
  /*
        Adds some space so that the "back to top"
        button doesn't cover any content
    */
  height: 3rem;
}

a.button {
  bottom: 1rem;
  position: fixed;
  right: 1rem;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  max-width: 600px;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

table thead {
  font-size: 87.5%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

table tr:not(.anything) {
  border-radius: 0.25rem;
}

table tr:nth-child(even) td {
  background-color: var(--alternate-row-background);
}

tbody tr:hover {
  font-weight: bold;
  transform: scale(1.0375);
}

td,
th {
  --border-radius: 0.5rem;
  padding: 0.5rem;
}

td:first-child,
th:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

td:last-child,
th:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

@media screen and (min-width: 600px) {
  :root {
    --side-width: 18rem;
  }

  .config {
    position: fixed;
    width: var(--side-width);
    height: 100%;
  }

  .results {
    margin-left: calc(var(--side-width) + 4rem);
    margin-right: 2rem;
    padding: 1rem;
  }
}
